
body{
    font-size: 1.0rem;
}

.container{
    padding: 5px;
}

h1 {
    font-size: 1.5rem;
    margin-bottom:30px;
}

h2{
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top:10px;
}        

table{
   border-collapse: collapse;
   border:1px solid #333;
}
